


body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: cursive;
     background-color: rgba(14, 13, 13, 0.918);
    
  
}


header{
    display: flex ;
    justify-content: space-between;
    margin: 2% ;
    align-items: center;
    max-width: 1200px;
    padding: 0px 40px;
   


}
.menu ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0px 40px;
    
    
}
 .menu a {
    color: rgb(243, 244, 245);
    text-decoration: none; 

}
 .menu ul :hover{
    color: rgb(44, 137, 165);
 }
 hr{
    opacity: 10%;
 }
 .img{
   display: flex;
   justify-content: space-between;
    width: 50px;
    margin-left: 17%;
    height: 10%;
  
 }
 .img2{
    display: flex;
    justify-content: space-between;
    align-items: center;
     max-width: 1200px;
     margin-left: 50%;
     margin-top: -15%;
    
 }
 .img3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-top: 3%;
 }
 .an1{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    color: rgba(44, 111, 179, 0.849);
    margin-left: 22%;
    margin-top: -7%;
    font-size: 200%;
    font-family: cursive;
 }
 .y1 div :hover{
   color: rgb(219, 216, 216);

 }
 
 .an2{
    display: flex;
    justify-content: space-between;
    align-items: center;
   color: rgba(64, 112, 160, 0.849);
    margin-left: 22%;
    margin-top: -7%;
    font-size: 200%;
    font-family: cursive;


 }
   a  {
    display: flex;
    justify-content: space-between;
     color: rgba(64, 112, 160, 0.849);
     text-decoration: none;
      

 }
 .ne4{
    display: flex;
    justify-content: space-between;


 }
 
 
    

 
 .amine6{
    color: rgba(233, 230, 230, 0.986);
    display: flex;
    justify-content: space-between;
    margin-left: 60%; 
    transform: translateX(-18%);
    margin-top: -2%;
    font-size: 200%;
    background-color: rgba(46, 44, 44, 0.295);
  
    
 }
 .png{
   display: flex;
   justify-content: space-between; 
   width: 300px;
   margin-top: -50%;
   margin-left: 50%;

 }

  div h1 {
   display: flex;
   justify-content: space-between;
   color: rgb(16, 151, 204);
   margin-left: 40%;
   margin-top: 25%;
   font-size: 300%;
   font-family: cursive;
 }
 div h2{
   display: flex;
   justify-content: space-between;
   color: rgba(236, 228, 228, 0.801);
   margin-left: 10%;
   margin-top: 2%;
 }
div h3 {
   display: flex;
   justify-content: space-between;
    color: rgba(236, 228, 228, 0.801);
    margin-left: 63%;
    margin-top: -4%;
    font-size: 150%;
    font-family: cursive;
}

div :hover{
   color: aliceblue;
}
.inst1{
   display: flex;
  justify-content: space-between;
  margin-left: 46%;
  margin-top: -6%;
  font-size: 200%;
  color: rgba(236, 228, 228, 0.801);
  
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    margin: 10px;
    padding: 0;
  }

  .menu ul {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    align-items: center;
  }

  .img,
  .img2,
  .img3,
  .png {
    margin: 0 auto;
    width: 150px;
  }

  .an1,
  .an2,
  .amine6 {
    margin: 10px 0;
    font-size: 120%;
    text-align: center;
    justify-content: center;
  }

  div h1 {
    margin: 20px 0;
    font-size: 180%;
    text-align: center;
    justify-content: center;
  }

  div h2,
  div h3 {
    margin: 10px;
    font-size: 100%;
    text-align: center;
    justify-content: center;
  }

  .inst1 {
    margin: 20px 0;
    font-size: 150%;
    justify-content: center;
  }

}
